<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caij.codehub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".CodeHubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="com.caij.codehub.utils.MyGlideModule"
            android:value="GlideModule"/>

        <meta-data android:name="UMENG_APPKEY" android:value="563f147ce0f55ae895005ce3" />
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.InitActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/No.SwipeBack.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/No.SwipeBack.Theme">
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/No.SwipeBack.Theme">
        </activity>
        <activity
            android:name=".ui.activity.RepositoryInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.FollowersActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.FollowingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.UserRepositoriesActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.IssueInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.FileTreeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.RepoIssuesActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.CommentActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
